{% load static %}

<!doctype html>
<html>
    <head>
	<title>{% block title %}Billy bones{% endblock %}</title>
	<meta charset="utf-8" />

	<!-- Assets -->
	<!-- TODO split dev and prod assets -->
	<link rel="stylesheet" href="http://localhost:12800/application.css" />
	<script src="http://localhost:12800/application.js"></script>
    </head>
    <body>
	{% include "_navbar.html" %}
	<div class="container mt-3">
	    <div class="row">
		<aside class="col-sm-12 col-lg-auto">
		    {% include "_menu.html" %}
		</aside>
		<main class="col-sm-12 col-lg">
		    {% block content %}{% endblock %}
		</main>
	    </div>
	    <div class="row mt-3">
		<footer class="col-12 text-center">
		    <p>&copy; Artemiy Solopov 2017</p>
		    <p>Made with Django & Bootstrap</p>
		</footer>
	    </div>
	</div>
    </body>
</html>
