{% load static %}

<!doctype html>
<html>
    <head>
	<title>{% block title %}Billy bones{% endblock %}</title>
	<meta charset="utf-8" />

	<!-- Bootstrap & dependencies -->
	<script src="{% static "bower/jquery/dist/jquery.min.js" %}"></script>
	<script src="{% static "bower/tether/dist/js/tether.min.js" %}"></script>
	<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
	<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}" />
    </head>
    <body>
	{% include "_navbar.html" %}
	<div class="container mt-3">
	    <div class="row">
		<aside class="col-sm-12 col-lg-auto">
		    {% include "_menu.html" %}
		</aside>
		<main class="col-sm-12 col-lg">
		    {% block content %}{% endblock %}
		</main>
	    </div>
	    <div class="row">
		<footer class="col-12">
		    <p>&copy; Artemiy Solopov 2017</p>
		    <p>Made with Django & Bootstrap</p>
		</footer>
	    </div>
	</div>
    </body>
</html>
