{% extends "base.html" %}
{% load datetime_operations %}
{% load bills_formatting %}


{% block content %}
    <h1>Bills</h1>

    <ul class="tags-list bills-tags">
	{% for tag in tags %}
	    <li class="tags-list__tag">
		<a href="{% url 'bills:index' tag=tag.slug %}">{{ tag.name }}</a>
	    </li>
	{% endfor %}
    </ul>

    <p>
	<a href="{% url 'bills:new' %}">Create bill</a>
    </p>
    
    <table class="full-width bills-list-table">
	{% for bill in object_list %}
	    <tr>
		<td>{{ bill.id }}</td>
		<td>{{ bill.period | format_period }}</td>
		<td>{{ bill | state_str | safe }}
		<td>
		    {% if bill.payment_method %}
			{{ bill.payment_method.name }}
		    {% endif %}
		</td>
		<td>{{ bill.cost }}</td>
		<td>{{ bill.created | format_date_long }}</td>
		<td>{{ bill.paid | format_date_long }}</td>
		<td>{{ bill.printed | format_date_long }}</td>
		<td>{{ bill | tag_names }}
		<td>
		    <a href="{% url 'bills:edit' pk=bill.id %}">Edit</a>
		    {% for tr in bill.get_available_state_i_transitions %}
			<a href="{% url 'bills:edit' pk=bill.id action=tr.name %}">{{ tr | transition_str }}</a>
		    {% endfor %}
		    <a href="{% url 'bills:delete' pk=bill.id %}">Delete</a>
		</td>
	    </tr>
	{% endfor %}
    </table>
{% endblock %}
