{% extends "base.html" %}

{% block content %}
    <header class="row">
	<div class="col"><h1>Payment methods</h1></div>
    </header>
    
    <div class="row pd-y-1">
	<div class="col">
	    <a href="{% url "bills:payment_methods:new" %}" class="btn btn-success">New payment method</a>
	</div>
    </div>

    <div class="row">
	<div class="col">
	    <table class="table">
		{% for payment_method in object_list %}
		    <tr>
			<td>{{ payment_method.id }}</td>
			<td>{{ payment_method.name }}</td>
			<td>
			    <a href="{% url 'bills:payment_methods:edit' pk=payment_method.id %}">Edit</a>
			    <a href="{% url 'bills:payment_methods:delete' pk=payment_method.id %}">Delete</a>
			</td>
		    </tr>
		{% endfor %}
	    </table>
	</div>
    </div>
{% endblock %}

