@import "_shared";

.full-width {
    width: 100%;
}

.tags-list {
    list-style-type: none;
    padding: 0;
    li {
	@include pill(lighten($col-info, 25%));
    }
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    
    td, th {
	padding: .25em .5em;
	border-bottom: 1px solid $col-dark;
    }
}
